body {
    margin: 0;
}

header {
    text-align: center;
    margin: auto;
    padding: 1em 0 2em;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 2px;
}

.user {
    display: flex;
    justify-content: space-around;
}

header h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
    color: #555;
}

.sign-out {
    color: rebeccapurple;
    font-size: 1.1em;
    font-weight: 600;
}

.sign-out:hover {
    color: black;
}

main {
    text-align: center;
    font-family: 'Caveat', cursive;
}

main > h2 {
    padding: 0 0 1.5em;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.flashes {
    color: red;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0;
}

.label-box {
    text-align: center;
    max-width: 400px;
    margin: auto;
    font-size: 1.2em;
}

.input-box {
    max-width: 400px;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
}

input {
    width: 80%;
    padding: 1em;
    border: 1px solid #222;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.button-box {
    text-align: center;
}

button {
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    color: blue;
    font-weight: 600;
    cursor: pointer;
}

/* books.html */
.search-box {
    max-width: 700px;
    margin: 0 auto 20px;
}

.search-button {
    padding: 0.8em;
    margin-top: 10px;
}

.book-list, 
.reviews {
    display: flex;
    flex-wrap: wrap;
}

.book-box {
    width: 100px;
    background-color: #ddd;
    margin: 5px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.book-box a {
    color: black;
}

.book-box a:hover {
    color: #ddd;
    background-color: black;
}

.book {
    max-width: 400px;
    margin: auto;
    background-color: #ddd;
    padding: 5px;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.book h5 {
    color: rgb(78, 78, 3);
    margin-bottom: 0;
}

.goodreads {
    color: rgb(78, 78, 3);
}
/* ==== Reviews ==== */
.review-box {
    width: 30%;
    background-color: #ddd;
    margin: 5px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

span {
    margin: 0 10px;
    font-size: 1.3em;
}

.review-box p {
    font-size: 1.2em;
}

.rating {
    color: #3d2802;
}

.review-button {
    margin: 10px 0;
    border: none;
    background-color: inherit;
    font-size: 1.5em;
}

.review-button:hover {
    color: black;
}

/* ====== Modal =============*/
.modal,
.overlay {
    display: none;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 536px;
    background-color: #eee;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    z-index: 7;
}

.modal h3 {
    font-size: 1.5em;
}

.modal div {
    margin: 10px 0 20px;
}

.modal input,
.modal textarea {
    padding: 0.5em;
    width: 90%;
    margin: 10px 0;
}

.modal label {
    font-size: 1.3em;
    width: 100%;
}

.modal button {
    width: 40%;
    padding: 1em;
    margin: 0 8px;
    font-size: 1.3em;
    border: none;
    background-color: inherit;
}

.modal button:focus,
.modal button:hover,
.modal button.hover {
    color: green;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    opacity: 0.8;
}

.api {
    font-size: 2em;
}