{% extends "layout.html" %}

{% block user %}
    <h2>{{ username }}</h2>
    <a class="sign-out" href={{ url_for('signOut') }}>Sign out</a>
{% endblock %}

{% block title %}
   Search for books
{% endblock %}

{% block body %}
    <form action={{ url_for('books') }} role="search" method="post">
        <div class="search-box">
            <input type="search" name="search" id="search" aria-label="Search for a book" required>
            <button class="search-button" name="searchBook">Find Book</button>
        </div>
    </form>
    <div class="book-list">
        {% for book in books %}
        <div class="book-box">
            <a href={{ url_for('book', isbn = book.isbn) }}>{{ book.title }}</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}