{% extends "books.html" %}

{% block title %}
   {{ book.title }}
{% endblock %}

{% block body %}
    <div class="book">
        <p>
            Author - {{ book.author }}
        </p>
        <p>
            ISBN - {{ book.isbn }}
        </p>
        <p>
            Year - {{ book.year }}
        </p>
        <h5>Goodreads stats</h5>
        <p class="goodreads">
            number of ratings - {{ ratings }}<br>
            average ratings - {{ avg_rating }}
        </p>
    </div>
    <button class="review-button">Post a Review</button>
    <div class="reviews">
        {% for review in reviews %}
        <div class="review-box">
            <span>{{ review.username }}</span>
            <span class="rating">Rating : {{ review.rating }}</span>
            <p>
                {{ review.comment }}
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="modal" role="dialog">
        <form action={{ url_for('book', isbn=book.isbn) }} method="POST"> 
          <h3>Add Review</h3>
          <hr>
          <div>
              <label for="rating">Rating</label>
              <input type="number" name="rating" value="1" min="1" max="5" id="rating" required>
          </div>
          <div>
              <label for="comment">Comment</label>
              <textarea id="comment" name="comment" rows="5" required></textarea>
          </div>
          <div class="modal-buttons">
              <button type = "button" class="close-modal">Close</button>
              <button type="submit" class="submit" id="submit-review">Submit</button>
          </div> 
        </form>
      </div>
    <div class="overlay"></div>
{% endblock %}