<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Quicksand|Caveat" rel="stylesheet">
        <link href="static/main.css" rel="stylesheet">
        <title>Books</title>
    </head>
    <body>
        <header>
            <h1>Books</h1>
        </header>
        <main>
            <h2>{% block title %}{% endblock %}</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="flashes">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </main>
    </body>
</html>